.publicaciones{
    margin-left: 150px;
   /* margin-right: 250px;  */
   background-color: #242526;
   height: 93vh;
   justify-content: center;
   width: 700px;
   color: white;
   border: 1px solid  #18191A;

}